.Rproj.user
.Rhistory
.RData
.Ruserdata
job.R
job2.R
.bash_profile
master_virtual_proportions.R
master_virtual.R
*.txt
*.feather
*.p
*.ipynb
*.zip
*.pdf
*.png
*.jpg
!data/.gitkeep
prototype/*
!output/.gitkeep
run_script.sh
